<div class="outer">
	<div id="headerWrap">
		<header class="content">
			<ul>
				<li></li>
				<li id="logo"><img src="images/logo.png" alt="Unreal Designs"></li>
				<li ng-repeat="i in [1,2]"></li>
				<li ng-repeat="link in data.headerLinks">{{link.title}}</li>
				<li></li>
			</ul>
		</header>
	</div>

	<div id="coverWrap">
		<div id="cover" class="content">
			<div id="coverImg">
				<img src="images/mobile_large.png" alt="Main Image">
			</div>

			<ul id="services">
				<li ng-repeat="i in [1,2]"></li>
				<li ng-repeat="service in data.services">
					<div class="service">
						<img src="{{service.img}}"></img>
						<span class="desc">{{service.title}}<span>
					</div>
				</li>
				<li ng-repeat="i in [1,2]"></li>
			</ul>
		</div>
	</div>

	<div id="introWrap">
		<div id="intro" class="content">
			<h2>{{data.intro.title}}</h2>
			<img src="placeholder.png" alt="Introduction">
			<p>
				{{data.intro.desc}}
			</p>
		</div>
	</div>

	<div id="productWrap">
		<ul id="products" class="content">
			<li></li>
			<li ng-repeat="product in data.products">
				<div class="face front">{{product.front}}</div>
				<!-- <div class="face back">{{product.back}}</div> -->
			</li>
			<li></li>
		</ul>
	</div>

	<div id="footerWrap">
		<footer id="footer" class="content">
			Copyright 2013 Unreal Designs
		</footer>
	</div>
</div>