/* apply a natural box layout model to all elements */
*, *:before, *:after {
  box-sizing: border-box; }

/* Main CSS */
body {
  background-color: black;
  color: white;
  padding: 0px;
  border: 0px;
  margin: 0px;
  position: relative;
  top: 0px; }

.container {
  width: 100%; }

.content {
  clear: both;
  width: 1280px;
  margin: auto;
  padding: 10px; }

#headerWrap {
  clear: both;
  width: 100%;
  background-color: black; }
  #headerWrap #header {
    padding: 20px;
    padding-top: 0px; }

#bodyWrap {
  clear: both;
  width: 100%;
  background-color: white; }
  #bodyWrap #body {
    padding: 20px;
    padding-top: 0px; }

#footerWrap {
  clear: both;
  width: 100%;
  background-color: black; }
  #footerWrap #footer {
    padding: 20px;
    padding-top: 0px;
    color: #FFFFFF; }
