/* apply a natural box layout model to all elements */
*, *:before, *:after {
  box-sizing: border-box; }

/* Main CSS */
body {
  background-color: black;
  color: white;
  padding: 0px;
  border: 0px;
  margin: 0px; }

.container {
  padding: 20px;
  padding-top: 0px;
  width: 100%; }

.outer {
  border: 1px solid white;
  margin: auto;
  width: 1280px;
  position: relative; }

#footerWrap {
  clear: both;
  padding: 20px;
  position: relative;
  color: #FFFFFF; }
