/* apply a natural box layout model to all elements */
*, *:before, *:after {
  box-sizing: border-box; }

/* Main CSS */
body {
  background-color: black;
  color: white;
  padding: 0px;
  border: 0px;
  margin: 0px;
  position: relative;
  top: 40px; }

.container {
  width: 100%; }

.content {
  clear: both;
  width: 1280px;
  margin: auto;
  padding: 10px; }

#headerWrap {
  clear: both;
  width: 100%;
  background-color: black;
  position: fixed;
  top: -20px;
  z-index: 999; }
  #headerWrap header {
    padding: 20px;
    padding-top: 0px;
    height: 50px; }
    #headerWrap header ul {
      position: relative;
      top: 0px;
      width: 100%;
      height: 100%;
      list-style: none;
      text-align: center;
      display: table; }
      #headerWrap header ul li {
        display: table-cell;
        width: 11.11111%;
        height: 50px;
        line-height: 50px;
        float: left;
        font-weight: bold;
        text-transform: uppercase; }
        #headerWrap header ul li img {
          vertical-align: middle; }

#coverWrap {
  position: relative;
  clear: both;
  width: 100%;
  background-color: #F1F1F2; }
  #coverWrap #cover {
    padding: 20px;
    padding-top: 0px;
    text-align: center; }
    #coverWrap #cover #coverImg {
      padding: 60px 0px; }
      #coverWrap #cover #coverImg img {
        width: 50%;
        height: 50%; }
    #coverWrap #cover #services {
      position: relative;
      top: 0px;
      width: 100%;
      height: 100%;
      list-style: none;
      text-align: center;
      display: table; }
      #coverWrap #cover #services li {
        display: table-cell;
        width: 14.28571%;
        line-height: 171px;
        height: 171px;
        float: left;
        font-weight: bold;
        text-transform: uppercase;
        padding: 15px; }
        #coverWrap #cover #services li .service {
          border: 2px double black;
          height: 141px;
          position: relative;
          opacity: 0.5; }
          #coverWrap #cover #services li .service:hover {
            opacity: 1; }
          #coverWrap #cover #services li .service img {
            position: absolute;
            width: 100%;
            top: 0px;
            left: 0px; }
          #coverWrap #cover #services li .service span.desc {
            position: absolute;
            width: 100%;
            height: 30px;
            line-height: 30px;
            bottom: 0px;
            left: 0px;
            color: black; }

#introWrap {
  position: relative;
  clear: both;
  width: 100%;
  background-color: #FBAF3F; }
  #introWrap #intro {
    position: relative;
    padding: 20px;
    height: 100%;
    width: 50%;
    min-height: 250px;
    text-align: center; }
    #introWrap #intro h2 {
      size: 42px;
      text-transform: uppercase; }
    #introWrap #intro img {
      display: inline-block;
      float: left;
      width: 300px;
      height: 200px;
      margin: 0px 0px;
      margin-right: 20px; }
    #introWrap #intro p {
      padding: 10px 0px;
      position: relative;
      height: 100%;
      text-align: left; }

#productWrap {
  position: relative;
  clear: both;
  width: 100%;
  background-color: #F1F1F2; }
  #productWrap #products {
    position: relative;
    top: 0px;
    width: 100%;
    height: 100%;
    list-style: none;
    text-align: center;
    display: table; }
    #productWrap #products li {
      display: table-cell;
      width: 16.66667%;
      height: 230px;
      float: left;
      text-transform: uppercase;
      position: relative;
      padding: 20px;
      color: black; }
      #productWrap #products li:hover div.front {
        -webkit-transform: rotateY(180deg);
        opacity: 0; }
      #productWrap #products li:hover div.back {
        -webkit-transform: rotateY(0deg);
        opacity: 1; }
      #productWrap #products li div.face {
        text-align: center;
        border: 3px double black;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: all 1s linear;
        position: relative; }
      #productWrap #products li div.back {
        top: -100%;
        -webkit-transform: rotateY(-180deg);
        opacity: 0; }

#footerWrap {
  position: relative;
  clear: both;
  width: 100%;
  height: 200px;
  background-color: black; }
  #footerWrap footer {
    padding: 20px;
    padding-top: 0px;
    color: #FFFFFF; }
